[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
