[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/minion-core"]
	path = modules/minion-core
	url = git://github.com/kohana-minion/core.git
[submodule "modules/minion-migrations"]
	path = modules/minion-migrations
	url = git://github.com/kohana-minion/tasks-migrations.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = git://github.com/shadowhand/uuid.git
[submodule "modules/oauth2"]
	path = modules/oauth2
	url = git@github.com:zombor/kohana-oauth2.git
[submodule "modules/api"]
	path = modules/api
	url = git@github.com:zombor/kohana-api.git
