<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<base href="{{base}}" />
		<script type="text/javascript" src="media/js/jquery.js"></script>
		<script type="text/javascript" src="media/js/home.js"></script>
	</head>
	<body>
		<h1>{{title}}</h1>
		{{>content}}
	</body>
</html>