<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<base href="{{base}}" />
		<script type="text/javascript" src="media/js/jquery.js"></script>
		<script type="text/javascript" src="media/js/underscore-min.js"></script>
		<script type="text/javascript" src="media/js/backbone-min.js"></script>
		<script type="text/javascript" src="media/js/icanhaz.js"></script>
		<script type="text/javascript" src="media/js/bucket_app.js"></script>
		
		<script type="text/javascript" src="media/js/backbone/transaction.js"></script>
		<script type="text/javascript" src="media/js/backbone/transaction_collection.js"></script>
		<script type="text/javascript" src="media/js/backbone/transaction_view.js"></script>

		<script type="text/javascript" src="media/js/backbone/bucket_app_controller.js"></script>
		<script type="text/javascript" src="media/js/backbone/bucket_app_model.js"></script>
		<script type="text/javascript" src="media/js/backbone/bucket_app_view.js"></script>

		<link rel="stylesheet" href="media/css/screen.css" type="text/css" media="screen" />

		<script id="template_app" type="text/html">
			<h1>Bucket App</h1>
			<div id="left">
				<h2>Accounts</h2>
				<ul id="accounts">
				</ul>
				<h2>Buckets</h2>
				<ul id="buckets">
				</ul>
			</div>
			<div id="center">
				<h2>Transactions</h2>
				<ul id="transactions">
				</ul>
				<p><a href="#" id="add">Add</a></p>
				<p><a href="#" id="remove">Remove</a></p>
			</div>
			<div id="right">
			
			</div>
		</script>

		<script id="template_transaction" type="text/html">
			<li>\{\{date\}\} - {{payee}} - {{bucket}} - ${{amount}}</li>
		</script>
	</head>
	<body>
		
	</body>
</html>